<div class="item-form-cont">
  <form class="add-item-form" [formGroup]="form" (ngSubmit)="submit()">
    <h3>Please provide new task info!</h3>
    <label for="task-text">Text: </label>
    <input id="task-text" formControlName="text">
    <button class="btn" type="submit" [disabled]="form.invalid">Add task</button>
    <p class="close-btn" (click)="closeForm()">&#9746;</p>
  </form>
</div>

