
<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Please input your credentials</h2>
  <div *ngIf="auth.wrongUser" class="wrong-login">
    Wrong username or password! Try Again!
  </div>

  <div class="input-cont">
    <label for="email">Email:</label>
    <input type="text" id="email" placeholder="Type in your email" formControlName="email">
  </div>
  <div class="input-cont" *ngIf="!hasAccount">
    <label for="username">Username:</label>
    <input type="text" id="username" placeholder="Type in your username" formControlName="userName">
  </div>
  <div class="input-cont">
    <label for="password">Password:</label>
    <input type="password" id="password" placeholder="Type in your password" formControlName="password">
  </div>
  <div class="with-account-cont" *ngIf="hasAccount" >
    <button class="btn" type="submit" [disabled]="form.invalid">Log In</button>
    <p><small class="danger" *ngIf="form.invalid">Please provide valid email and password!</small></p>
    <p>Don't have an account? <span class="toggle-link" (click)="toggleHasAccount()">Click here to create it!</span></p>
  </div>
  <div class="with-account-cont" *ngIf="!hasAccount">
    <button class="btn" type="submit" [disabled]="form.invalid">Register</button>
    <p><small class="danger" *ngIf="form.invalid && form.touched">Please provide valid email and password!</small></p>
    <p>Already have an account? <span class="toggle-link" (click)="toggleHasAccount()">Click here to log in!</span></p>
  </div>
</form>

