.btn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid teal;
  color: teal;
  background-color: transparent;
  font-size: 1.2rem;

  &:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
  }
  &:disabled {
    color: grey;
    border: 2px solid grey;
    background-color: transparent;
    cursor: not-allowed;
  }
}

.login-form {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  min-height: 40vh;
  top: 30vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    text-align: center;
    width: 50%;
    margin: 40px 0;
  }

  .btn {
    margin: 10px auto;
  }
}

.with-account-cont {
  text-align: center;
  .toggle-link {
    color: blue;
    cursor: pointer;
    font-weight: bolder;
    &:hover {
      color: red;
    }
  }
}

.danger {
  color: red;
}

.input-cont {
  width: 50%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  input {
    width: 80%;
    border: 2px solid blue;
  }
  p {
    width: 100%;
    text-align: center;
  }
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-valid.ng-touched.ng-dirty {
  border: 2px solid green;
}

.wrong-login {
  margin: 10px auto;
  text-align: center;
  border: 2px solid red;
  color: red;
  position: absolute;
  top: 0;
}

