  <h3>{{column.title}}:</h3>
  <app-item
    *ngFor="let el of tasks"
    [item]="el"
    [currentUser] = "currentUser"
    class="column-item "
    cdkDrag
    [ngClass]="column.class"
    (toggleItemComments)="onCommentsClick($event)"
    (onLikesClick)="likesClick($event)"
    [ngStyle]="{'backgroundColor':bgColor, 'color':color}"
    appItemColors
    [dStyles]="{color: color, bgColor: bgColor}"
    (onCommentFormSubmit)="commentSubmit($event)"
  ></app-item>
  <div class="btn-cont">
    <button class="btn" (click)="showAddTaskForm()" *ngIf="currentUser">Add Task</button>
  </div>
  <app-add-task-form
    class="add-task-form"
    *ngIf="showForm && currentUser"
    (onSubmit)="newTaskSubmit($event)"
    (onClose)="closeForm()"
  >
  </app-add-task-form>


