<div class="container">
  <header class="header">
    <nav class="navbar">
      <a class="navlink" routerLink="">HOME</a>
      <a class="navlink" routerLink="login" *ngIf="!currentUser">login</a>
      <a class="navlink" *ngIf="currentUser" (click)="auth.logout()">logout</a>
    </nav>
  </header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    Retro-Taskbar by Viacheslav Shestunov, 2021 ©
  </footer>
</div>




