.container {
  width: 100%;
  background-color: transparent;
}

.header {
  height: 10vh;
  top: 0;
  position: fixed;
  background-color: #231f20;
  width: 100%;
  z-index: 5;
  .navbar {
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .navlink {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      text-transform: uppercase;
      margin: 0 50px;
      &:hover {
        color: #76cdd8;
        cursor: pointer;
      }
    }
  }
}

.main {
  position: relative;
  min-height: 80vh;
  background-color: rgba(35,31,32,0.1);
}

.footer {
  width: 100%;
  height: 10vh;
  top: 90vh;
  background-color: #231f20;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 5;
}

