<h4>{{item.text}}</h4>
<div class="likes-comments-container">
  <small
    class="likes"
    (click)="likesClick(item)"
  >
    {{'&#10084;: ' + item.likedBy.length}}
  </small>
  <small
    class="comments"
    (click)="onCommentsClick(item)"
  >
    {{'&#9993;: ' + item.comments.length}}
  </small>
</div>

<div class="comments" *ngIf="item.showComments && item.comments">
  <div *ngFor="let comment of item.comments">
    <p class="comment">
      <em>
        {{comment.author}}
        <small>({{comment.dated | myDate}})</small>:
      </em>
      <br>
      <strong>- {{comment.commentText}}</strong>
    </p>
  </div>
  <form class="add-comment-form" *ngIf="currentUser" [formGroup]="commentForm" (ngSubmit)="submit(item.id)">
    <label for="text">Comment text: </label>
    <input type="text" formControlName="text" id="text">
    <button class="btn" type="submit" [disabled]="commentForm.invalid">Submit</button>
  </form>
</div>



