.btn {
  width: 60px;
  height: 20px;
  border-radius: 2px;
  border: 2px solid white;
  margin: 2px auto;
  color: white;
  background-color: transparent;
  font-size: 0.6rem;
  &:hover {
    cursor: pointer;
    background-color: grey;
  }
}

.likes-comments-container {
  margin: 10px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  small {
    cursor: pointer;
    font-size: 1.2rem;
    &:hover {
      font-weight: bolder;
    }
  }
}

.add-comment-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 0.8rem;
}

.comment {
  background-color: grey;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  font-size: 0.9rem;
}

h4 {
  margin: 15px auto 0 auto;
  font-size: 1rem;
  text-decoration: underline;
}
