.btn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #231f20;
  font-size: 1rem;
  margin: 0 auto;
  display: block;
  &:hover {
    cursor: pointer;
    background-color: black;
    color: #76cdd8;
  }
}

.btn-cont {
  margin-top: 10vh;
  padding: 10px 0;
  display: flex;
}

.retro-columns {
  border: 1px solid grey;
  position: relative;
  width: 95%;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 15px 0;
}

.column {
  width: 23%;
  min-height: 300px;
  border: 2px solid black;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h2 {
    text-align: center;
  }

  .column-item {
    width: 90%;
    margin: 5px auto;
    border-radius: 10px;
    min-height: 30px;
    //display: flex;
    //justify-content: center;
    //align-items: center;
  }
}

.add-task-form {
  width: 100%;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.login-danger-cont {
  width: 100%;
  top: 0;
  position: absolute;
  height: 100vh;
  background-color: grey;
  opacity: 0.9;
}
.login-danger {
  margin: 12vh auto;
  text-align: center;
  width: 60%;
  color: white;
  border: 2px solid red;
  font-size: 1.5rem;
}

.loader {
  margin: 20px auto;
  text-align: center;
  color: blue;
  font-size: 1.5rem;
  font-weight: bolder;
}
