<div class="btn-cont">
  <button class="btn" (click)="toggleAddColForm()" *ngIf="currentUser">Add new column</button>
  <button class="btn" (click)="download()" *ngIf="currentUser">Download columns</button>
</div>
<section class="retro-columns">
  <h2>Taskbar: </h2>
  <div class="columns" cdkDropListGroup *ngIf="!loading; else loader">
    <app-column
      cdkDropList
      *ngFor="let col of columns"
      [cdkDropListData]="col.elements"
      (cdkDropListDropped)="drop($event)"
      [column]="col"
      class="column"
      [tasks]="col.elements"
      [currentUser] = "currentUser"
      (toggleItemComments)="toggleShowComments($event)"
      (onLikesClick)="likeFunc($event)"
      (onNewTaskSubmit)="submitItem($event)"
      (onCommentFormSubmit)="commentSubmit($event)"
    ></app-column>
  </div>

  <ng-template #loader>
    <div class="loader" >
      Loading data...
    </div>
  </ng-template>
</section>

<div class="login-danger-cont" *ngIf="needToLogin">
  <div class="login-danger">
    {{needToLoginMessage}}
  </div>
</div>

<app-add-column-form
  (onClose)="toggleAddColForm()"
  (onSubmit)="addColumn($event)"
  *ngIf="showAddColForm && currentUser"
></app-add-column-form>
