.item-form-cont {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(35,31,32,0.2);
}

.add-item-form {
  position: relative;
  width: 60%;
  background-color: #231f20;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 20vh auto;
  h3 {
    margin: 15px;
  }
  input {
    width: 60%;
    height: 30px;
    border: none;
    padding: 0;
  }
  .btn {
    display: block;
    margin: 15px auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: blue;
    font-size: 1.2rem;
    &:hover {
      cursor: pointer;
      background-color: #231f20;
      color: white;
      border: 2px solid white;
    }
    &:disabled {
      cursor: pointer;
      background-color: #231f20;
      color: white;
      border: 2px solid white;
    }
  }
}


.close-btn {
  position: absolute;
  color: white;
  width: 15px;
  height: 15px;
  cursor: pointer;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
}

.input-cont {
  margin: 10px auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
