<div class="item-form-cont">
  <form class="add-item-form" [formGroup]="form" (ngSubmit)="submit()">
    <h3>Type in new column name and chose BG color</h3>
    <div class="input-cont">
      <label for="column-text">Column name: </label>
      <input id="column-text" formControlName="text">
    </div>
    <div class="input-cont">
      <label for="bgcolor">Background color: </label>
      <input id="bgcolor" type="color" formControlName="bgColor" >
    </div>
    <div class="input-cont">
      <label for="color">Font color: </label>
      <input id="color" type="color" formControlName="color" >
    </div>
    <button class="btn" type="submit" [disabled]="form.invalid">Add column</button>
    <p class="close-btn" (click)="closeForm()">&#9746;</p>
  </form>
</div>
